@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        ‘Books are the quietest and most constant of friends; they are the most accessible and wisest of counselors, and the most patient of teachers’.  -Charles W. Elio-

        A child's reading skills are important to their success in school as they will allow them to access the breadth of the curriculum and improve their communication and language skills. In addition, reading can be a fun and imaginative time for children, which opens doors to all kinds of new worlds for them. 

        As part of our curriculum review at NAISAK, we have identified ‘reading’ as a key area for development and will be included in the school’s strategic development plan. With a busy timetable, teachers currently do not have enough time to listen to their children read as much as they would like to. That said, from today we have made some adjustments to the start of the day with the registration period being extended to 20 minutes, with a slightly shorter first lesson. This will allow students from across the Primary Stage to all start their day reading to either their teacher, learning support assistant, buddy or on their own. Additionally, all Primary teachers, including the Leadership Team, have new reading timetables allowing them to listen to individual readers who have been identified as needing extra support for a number of hours per week. We are hopeful that the changes made to both the students and teachers’ timetables will prove impactful and will help to accelerate reading progress across the Primary School. We will continue to update you over the coming term with further reading initiatives.
    </p>
</div>
